@CHARSET "UTF-8";

/*footer부분*/

footer{
	height: 80px;
	width:1100px;
	padding:10px;
}

.dw{
	height: 80px;
	width:1100px;
	margin-top:160px;
	padding:10px;
}


footer hr{
	width: 1100px;
	margin: 0;
	}
footer #copy{
font-family: seo;
width: 800px;
margin: 20px 0 0 50px;
float: left;
}
/*글자체 seo 너비 450px 밖여백 20px 0 0  190px 정렬 left*/
footer #social{width: 130px; margin: 20px 20px 0 0;
float: right;}
/*너비 130px 밖여백 20px 20px 0 0
정렬 오른쪽*/
footer #social img{margin: 0 7px}/*밖여백 0 7px*/