@CHARSET "UTF-8";

/*footer부분*/
/*글자체 seo*/
@font-face{font-family: "seo";
src: url("../images/segoeui.eot");
src: local(""),
     url("../images/segoeui.woff")format("woff"),
     url("../images/segoeui.ttf")format("truetype");}
footer{
	height: 80px;
	width:1100px;
	background-repeat: no-repeat;
	background-position: 40px center;

	margin:40px;
	padding:10px;
}
/*밖여백 50px 0 0 0 높이 80px 배경이미지under_logo.gif
배경반복 no-repeat 위치 40px center*/
footer hr{
	width: 1100px;
	margin: 0;
	}
/*너비 900px 밖여백 0 0 0 20px*/
footer #copy{
font-family: seo;
width: 800px;
margin: 20px 0 0 50px;
float: left;
}
/*글자체 seo 너비 450px 밖여백 20px 0 0  190px 정렬 left*/
footer #social{width: 130px; margin: 20px 20px 0 0;
float: right;}
/*너비 130px 밖여백 20px 20px 0 0
정렬 오른쪽*/
footer #social img{margin: 0 7px}/*밖여백 0 7px*/