@CHARSET "UTF-8";

#map{
	width: 1300px;
	float: left;
	
	margin-left: 340px;
}

.main{
	width: 1300px;
	float: left;
}

.content{
	font-family: 'Jua', sans-serif;
	float: left;
	width: 850px;
	margin:30px;
/* 	background-color: #e0e0e0; */

}


.bd0{
	float: right;
	border-collapse:collapse;
	height: auto;
	width: auto;
	background-color:white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.bd1{
	float: left;
	border-collapse:collapse;
	height: auto;
	width: auto;
	background-color:white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.paging{
	text-align:center;
	vertical-align:-3px;
	text-align: center;
	font-size: 1.1em;
	height: 20px;
}

.paging a{
	 display:inline-block;
}

td{
	text-align: center;
}

.no{
	width:20px;
}
.sub{
	width:auto;
	text-align: left;
}
.name{
	width:70px;	
}
.date{
	width:100px;
}

.read{
	width:40px;
}
.ip{
	width:120px;
}



.one{
	color: #000000; 
	text-decoration: none;
	background-color: #64619e;
	border: 1px solid #ddd;
	
}

.one td{
	color:#fff;
	text-align: center;
	font-family: 'Jua', sans-serif;
	height:30px;
	line-height: 30px;
}


.end {
	width: 850px;
}

.end td{
	text-align: center;
	font-family: 'Jua', sans-serif;
	height:30px;
	line-height: 30px;
}
 
/*  ----------------------------------------------------- */
 

#customers p{
	font-family: 'Jua', sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding: 0px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}


.bd a:link { 
	color: #000000; text-align: center;
	text-decoration: none;

	}
.bd a:visited { color: #f20d0d; text-decoration: none;}
.bd a:hover { color: #64619e; text-decoration: none;}


input[type=submit],[type=button] {
	float:right;
	width: auto;
	height: 40px;
	padding: 10px 8px;
	margin: 0 4px;
	text-align: center;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	font-weight: bold;
	
}
