@CHARSET "UTF-8";

.main{
	width: 1300px;
	float: left;
}

#air{
	background-image: url("../images/airplane.jpg");
	background-repeat : no-repeat; 
	background-size: 820px 400px;
}

.content{
	font-family: 'Jua', sans-serif;
	float: left;
	width: 850px;
	margin:30px;
/* 	background-color: #e0e0e0; */
}

.content p{
	padding: 10px;
}

#customers {
  font-family: 'Jua', sans-serif;
  border-collapse: collapse;
  width:800px;
  margin:6px;
}

.tc{
	text-align: center;
}

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

input[type=submit],[type=button] {
	float:left;
	width: auto;
	height: 40px;
	padding: 10px 8px;
	margin: 0 4px;
	text-align: center;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	font-weight: bold;
	
}