@CHARSET "UTF-8";

.left {
float: left;
height: 1300px;
width:300px;
background-color: #064461;

}

.list{
	font-family: 'Jua', sans-serif;
	font-size: 19px;
	line-height: 40px;
	cursor: pointer;
	background: #064461;
	background: linear-gradient(#003040, #002535);
}

li{
	list-style-type: none;
}

ul{
	padding:0px;
}

ul li a{
	margin:5px;
	text-decoration: none;
	display: block;
}

ul li:hover{
	background: #003545;
	border-left: 10px solid #09c;
}

.left a:link { 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	color: #fff; text-align: center;
	text-decoration: none;

	}
.left a:visited { color: #fff; text-decoration: none;}
.left a:hover { color: #fff; text-decoration: none;}