@CHARSET "UTF-8";


article{
	height:1000px;
	width:1100px;
	margin:40px;
	padding:10px;
/* 	background-color: #dcddd9; */
}

.clear{
	height:400px;
	width:1100px;
	background-position:center;
	background-repeat:no-repeat;
	background-image: url("../images/map2.png");
}


#map{
	width: 1300px;
	float: left;
	margin-left: 340px;
}

.content{
	font-family: 'Jua', sans-serif;
	float: float;
	width: 1060px;
	margin-top: 20px;
	margin-left: 20px;
	background-color: #e0e0e0;

}

.content a{
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    letter-spacing: 0px;
    font-style: normal;
    text-decoration: none;
}

.content p{
	text-align: center;
	font-size: 20px;
	margin: 5px;
	border-top : 3px solid #0080c0;
	border-bottom : 2px solid #bcbcbc;
}

/* 메인화면 미니 게시판 */
.tripBo{
	float:left;
	width:500px;
	height:390px;
	background-color: #f3f3f3;;
}

.bd {
	border-collapse:collapse;
	height:82%;
	width: 90%;
	margin-left:22px;
	padding: 5px;
	background-color:white;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 이미지 게시판 */

.imgBo{
	float:right;
	width:550px;
	height:390px;
	overflow:hidden;
	background-color: #f3f3f3;;
}

.imgBo > ul {
	background-color: #f3f3f3;
    overflow: hidden;
    padding: 4px;
    box-sizing: border-box;
    font-size: 0;
}

.imgBo > ul > li {
	display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

imgBo > ul > li > .image > a > img{
	width: 320px;
    height: 160px;
    object-fit: cover;
}

imgBo > ul > li > .image{
    display: block;
    position: relative;
    border: 1px solid #8c8c8c;
    overflow: hidden;
    height: 83px;
}

imgBo > ul > li > * > a {
	display: block;
    text-align: center;
}


imgBo > ul > li > .desc{
	text-align: center;
    margin: 6px 0 -4px 0;
}


/* --------------------------------*/


.paging{
	text-align:center;
	vertical-align:-3px;
	text-align: center;
	font-size: 1.1em;
	height: 20px;
}

.paging a{
	 display:inline-block;
}

td{
	text-align: center;
}

.no{
	width:20px;
}
.sub{
	width:400px;
	text-align: left;
}
.name{
	width:100px;	
}
.date{
	width:100px;
}

.read{
	width:40px;
}
.ip{
	width:120px;
}



.one{
	color: #000000; 
	text-decoration: none;
	background-color: #64619e;
	border: 1px solid #ddd;
	
}

.one td{
	color:#fff;
	text-align: center;
	font-family: 'Jua', sans-serif;
	height:30px;
	line-height: 30px;
}

 
/*  ----------------------------------------------------- */
 

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}


.bd a:link { 
	color: #000000; text-align: center;
	text-decoration: none;

	}
.bd a:visited { color: #f20d0d; text-decoration: none;}
.bd a:hover { color: #64619e; text-decoration: none;}


input[type=submit],[type=button] {
	float:right;
	width: auto;
	height: 40px;
	padding: 10px 8px;
	margin: 0 4px;
	text-align: center;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	font-weight: bold;
	
}
