@CHARSET "UTF-8";


article{
	height:1200px;
	width:1100px;
	margin:40px;
	padding:10px;
/* 	background-color: #dcddd9; */
}

/* img{ */
/* 	margin:0; */
/* 	padding:0; */
/* 	height:450px; */
/* 	width:1100px; */
		
/* } */


.clear{
	height:400px;
	width:1100px;
	background-position:center;
	background-repeat:no-repeat;
	background-image: url("../images/map2.png");
}


#map{
	width: 1300px;
	float: left;
	
	margin-left: 340px;
}

.content{
	font-family: 'Jua', sans-serif;
	float: float;
	width: 1060px;
	margin-left: 20px;
	background-color: #e0e0e0;

}


.content p{
	margin: 5px;
}

.le{
	float:left;
	background-color: #e0e0e0;
}
.ri{
	float:right;
	width:500px;
	
		background-color: #e0e0e0;
}


.bd {
	border-collapse:collapse;
	height:70%;
	width: 400px;
	margin:5px;
	background-color:white;
	font-family: 'Noto Sans KR', sans-serif;



}

.paging{
	text-align:center;
	vertical-align:-3px;
	text-align: center;
	font-size: 1.1em;
	height: 20px;
}

.paging a{
	 display:inline-block;
}

td{
	text-align: center;
}

.no{
	width:20px;
}
.sub{
	width:400px;
	text-align: left;
}
.name{
	width:70px;	
}
.date{
	width:100px;
}

.read{
	width:40px;
}
.ip{
	width:120px;
}



.one{
	color: #000000; 
	text-decoration: none;
	background-color: #64619e;
	border: 1px solid #ddd;
	
}

.one td{
	color:#fff;
	text-align: center;
	font-family: 'Jua', sans-serif;
	height:30px;
	line-height: 30px;
}

.bd0{
	float: left;
	border-collapse:collapse;
	background-color:white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.bd1{
	float: right;
	border-collapse:collapse;
	background-color:white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
 
/*  ----------------------------------------------------- */
 

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}


.bd a:link { 
	color: #000000; text-align: center;
	text-decoration: none;

	}
.bd a:visited { color: #f20d0d; text-decoration: none;}
.bd a:hover { color: #64619e; text-decoration: none;}


input[type=submit],[type=button] {
	float:right;
	width: auto;
	height: 40px;
	padding: 10px 8px;
	margin: 0 4px;
	text-align: center;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	font-weight: bold;
	
}
