@CHARSET "UTF-8";

.main:after{ clear: both; display: block; content: '' }

.main{
	width: 100%;
	float: left;
	background-color: green;
}
.left {
float: left;
height: 700px;
width:20%;
background-color: pink;

}

.content {
float: left;
width: 80%;
background-color: skyblue;
}