@CHARSET "UTF-8";

#map{
	width: 1300px;
	float: left;
	
	margin-left: 340px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:500px;
  margin:6px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

.tab{
	font-family: 'Jua', sans-serif;
	float: left;
	width: 800px;
	background-color:white;
}


.sub{
	width:400px;
	text-align: left;
}
.name{
	width:70px;	
}

textarea {
  float:right;
  width: 85%;
  height: 100px;
  padding: 4px 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


.com1{
	width:40px;
}
.com2{
	width:400px;
}



.main{
	width: 1300px;
	float: left;
}

.content{
	font-family: 'Jua', sans-serif;
	float: left;
	width: 850px;
	margin:30px;
/* 	background-color: #e0e0e0; */
}

.content p{
	padding: 10px;
}

#customers {
  font-family: 'Jua', sans-serif;
  border-collapse: collapse;
  width:800px;
  margin:6px;
}

.text{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.tc{
	text-align: center;
}

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

input[type=submit]{
	float:right;
	width: auto;
	height: 100px;
	padding: 10px 8px;
	margin: 4px 0;
	margin-left:20px;
	text-align: center;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	font-weight: bold;
}

input[type=button] {
	float:right;
	width: auto;
	height: 40px;
	padding: 10px 8px;
	margin: 0 4px;
	text-align: center;
	border-radius: 4px;
	font-family: 'Jua', sans-serif;
	font-weight: bold;
	
}