@CHARSET "UTF-8";

* {margin: 0; padding: 0;
}

header {border: 1px solid red;
	height:170px;	
}

div#login {border : 1px solid pink;
	float: right;
	margin-right: 20px;
	margin-top: 40px;/* 여백으로 위치조절 */

}

nav ul {
	border: 1px solid #ff0;
	overflow:hidden;
	margin-left: 14px;
	float:right;
}
nav a {border: 1px solid skyblue;
	float:left;
	width:190px;
	height:30px;
	
}
nav a {border: 1px solid #fff;
	
}
nav a:HOVER {
	background-color:#0cc;
}

