@CHARSET "UTF-8";

header{
	font-weight:bold;
	font-family: 'Jua', sans-serif;
}

.mcon{
	padding: 1px;
	height:100px;
}

.logo{
	height:80px;
}

.menu{
	width:1200px;
	height: 40%;
	background-color: #333;
}



.item{
	float:left;
	font-size:17px;
	text-align: center;
	width: 120px;
	height: 30px;
	margin-top:6px;

}

.item a{
	display:inline-block;
	height:30px;
	line-height: 30px;
}

.login {
	float:right;
	font-size:17px;
	text-align: center;
	width: 150px;
	height: 30px;
	margin-top:6px;
}

.menu a:link { 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	color: #fff; text-align: center;
	text-decoration: none;

	}
.menu a:visited { color: #fff; text-decoration: none;}
.menu a:hover { color: #fff; text-decoration: none;}
